@import '/styles/variables.module.scss';

@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/Pretendard-Regular.woff2') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/Pretendard-Medium.woff2') format('woff');
  font-weight: 500;
}

@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/Pretendard-Bold.woff2') format('woff');
  font-weight: 700;
}

* {
  box-sizing: border-box;
  font-family: Pretendard, Helvetica, Dotum, '돋움', Apple SD Gothic Neo,
    sans-serif !important;
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-thumb {
  height: 10px;
  background: #ddd;
  border-radius: 10px;
}

//custom antd style
.ant-btn-primary {
  background-color: $primary;

  &:not(:disabled):hover {
    background-color: $primary;
    opacity: 0.9;
  }
}

.ant-input {
  &:focus,
  &:hover {
    border-color: $purple-light;
  }
}
